<h1> <%=@task.title %> </h1>
<div class="button-box">
<p class="button"> <%= link_to "Edit task", edit_path(@task) %></p>
</div>
<p> <%= @task.details %> </p>
<div> 
<% if @task.completed == true %>
  <i class="far fa-check-square"> Completed</i>
<% else %>
   <i class="far fa-square"> Completed</i>
<% end %>
 </div>

<%= link_to "Back to task", tasks_path(@task) %>
